* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  padding: 10px 10px;
  background: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li {
  margin: 0 20px;
}
.nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0A033C;
  transition: all 0.3s ease 0s;
}
.nav li a:hover {
  color: #513bf6;
}

@media (max-width: 450px) {
  .nav {
    display: none;
  }
}
@media (max-width: 260px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .nav {
    display: none;
  }
}
.sect1 {
  width: 100%;
  padding: 10px 10px;
  background: #E5E5E5;
}
.sect1 .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}
.sect1 .h1 {
  width: 190px;
  height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: #FFFFFF;
  color: #FF6652;
  font-weight: 500px;
  font-size: 16px;
  line-height: 16px;
}
.sect1 .h2 {
  width: 420px;
  height: 150px;
  text-align: start;
  font-weight: 700px;
  font-size: 45px;
  line-height: 50px;
  color: #0A033C;
}
.sect1 .p {
  width: 481px;
  height: 84px;
  text-align: start;
  font-weight: 400px;
  font-size: 14px;
  line-height: 28px;
  color: #5D5A6F;
}
.sect1 .btn {
  height: 50px;
  width: 149px;
  border-radius: 5px;
  border: none;
  background: #9C4DF4;
  transition: all 0.3s ease 0s;
}
.sect1 .btn a {
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.sect1 .btn:hover {
  background: #1c04a2;
}

@media (max-width: 1315px) {
  .sect1 .sect1img {
    height: 447.8623657227px;
    width: 427.9996948242px;
    border-radius: [object Object] px;
  }
}
@media (max-width: 951px) {
  .sect1 .h1 {
    width: 190px;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    color: #FF6652;
    font-weight: 500px;
    font-size: 16px;
    line-height: 16px;
  }
  .sect1 .h2 {
    width: 380px;
    height: 150px;
    text-align: start;
    font-weight: 700px;
    font-size: 35px;
    line-height: 35px;
    color: #0A033C;
  }
  .sect1 .p {
    width: 380px;
    height: 84px;
    text-align: start;
    font-weight: 400px;
    font-size: 14px;
    line-height: 19px;
    color: #5D5A6F;
  }
  .sect1 .sect1img {
    height: 447.8623657227px;
    width: 427.9996948242px;
    border-radius: [object Object] px;
  }
}
@media (max-width: 845px) {
  .sect1 .sect1div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 50px 0;
  }
  .sect1 .h1 {
    width: 190px;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    color: #FF6652;
    font-weight: 500px;
    font-size: 16px;
    line-height: 16px;
  }
  .sect1 .h2 {
    width: 270px;
    outline: none;
    text-align: start;
    font-weight: 700px;
    font-size: 25px;
    line-height: 25px;
    color: #0A033C;
  }
  .sect1 .p {
    width: 270px;
    height: 84px;
    text-align: start;
    font-weight: 400px;
    font-size: 14px;
    line-height: 14px;
    color: #5D5A6F;
  }
  .sect1 .sect1img {
    height: 447.8623657227px;
    width: 427.9996948242px;
    border-radius: [object Object] px;
  }
}
@media (max-width: 735px) {
  .sect1 {
    width: 100%;
    padding: 10px 10px;
    background: #E5E5E5;
  }
  .sect1 .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
  }
  .sect1 .h1 {
    width: 190px;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    color: #FF6652;
    font-weight: 500px;
    font-size: 16px;
    line-height: 16px;
  }
  .sect1 .h2 {
    width: 420px;
    height: 150px;
    text-align: start;
    font-weight: 700px;
    font-size: 45px;
    line-height: 50px;
    color: #0A033C;
  }
  .sect1 .p {
    width: 481px;
    height: 84px;
    text-align: start;
    font-weight: 400px;
    font-size: 14px;
    line-height: 28px;
    color: #5D5A6F;
  }
  .sect1 .btn {
    height: 50px;
    width: 149px;
    border-radius: 5px;
    border: none;
    background: #9C4DF4;
    transition: all 0.3s ease 0s;
  }
  .sect1 .btn a {
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .sect1 .btn:hover {
    background: #1c04a2;
  }
}
@media (max-width: 499px) {
  .sect1 .h1 {
    width: 190px;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    color: #FF6652;
    font-weight: 500px;
    font-size: 16px;
    line-height: 16px;
  }
  .sect1 .h2 {
    width: 380px;
    height: 150px;
    text-align: start;
    font-weight: 700px;
    font-size: 35px;
    line-height: 35px;
    color: #0A033C;
  }
  .sect1 .p {
    width: 380px;
    height: 84px;
    text-align: start;
    font-weight: 400px;
    font-size: 14px;
    line-height: 19px;
    color: #5D5A6F;
  }
  .sect1 .sect1img {
    height: 447.8623657227px;
    width: 427.9996948242px;
    border-radius: [object Object] px;
  }
}
@media (max-width: 456px) {
  .sect1 .sect1img {
    height: 339px;
    width: 323.9656677246px;
    left: 20px;
    top: 673px;
    border-radius: [object Object] px;
  }
}
@media (max-width: 400px) {
  .sect1 .h2 {
    width: 280px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
  .sect1 .p {
    width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 350px) {
  .sect1 .sect1div2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sect1 .sect1img {
    height: 269px;
    width: 224px;
    left: 74px;
    top: 676px;
    border-radius: [object Object] px;
  }
}
.sect2 {
  padding: 10px 20px;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 1136px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container2 h2 {
  width: 560px;
  height: 110px;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #0A033C;
  text-align: center;
}
.container2 p {
  width: 840px;
  height: 90px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #5D5A6F;
}
.container2 .sect2img {
  width: 864px;
  height: 488px;
}

.sect2list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.sect2item {
  margin: 0 30px;
}
.sect2item a {
  text-decoration: none;
}

.audioclass {
  width: 333px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 15px;
}

.sect2list h4 {
  margin: 0 20px;
  text-decoration: none;
  width: 189px;
  height: 25px;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
}

@media (max-width: 1198px) {
  .container2 {
    width: 917px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container2 h2 {
    width: 432px;
    height: 80px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #0A033C;
    text-align: center;
  }
  .container2 p {
    width: 703px;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #5D5A6F;
  }
  .container2 .sect2img {
    width: 864px;
    height: 488px;
  }
  .sect2list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .sect2item {
    margin: 0 15px;
  }
  .sect2item a {
    text-decoration: none;
  }
  .audioclass {
    width: 255px;
    height: 84px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
  }
  .sect2list h4 {
    margin: 0 12px;
    text-decoration: none;
    width: 151px;
    height: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 882px) {
  .container2 {
    width: 917px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container2 h2 {
    width: 432px;
    height: 80px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #0A033C;
    text-align: center;
  }
  .container2 p {
    width: 703px;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #5D5A6F;
  }
  .container2 .sect2img {
    width: 864px;
    height: 488px;
  }
  .sect2list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .sect2item {
    margin: 0 15px;
  }
  .sect2item a {
    text-decoration: none;
  }
  .audioclass {
    width: 255px;
    height: 84px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
  }
  .sect2list h4 {
    margin: 0 12px;
    text-decoration: none;
    width: 151px;
    height: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}/*# sourceMappingURL=main.css.map */